# Dean Property Consulting 2024

## EDA

### Imports

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('../data/230000 RE Transfers 2010-2023 PROGRESS SORTED 2.csv',low_memory=False)

In [6]:
df.head()

,Unnamed: 0,DATE,NEIGBORHOOD,No.,STREET,ZIP,SALE / ASK,WEB,RENT ROLL,UNITS,...,TAX,BEDS,BATHS,WEEKS,TELEPHONE,CONTACT,AGENCY,ANNUAL $,30yr,ZONING
0,NaN,01/03/2010,Ditmas Park,657,East 24th St,NaN,"$770,000.00",NaN,NaN,1,...,"3,753",6,3.0,12,NYTimes,NaN,Coldwell Banker Residential,"$36,033.00",5.53%,NaN
1,NaN,01/06/2010,Boerum Hill,229,Dean St,NaN,"$1,397,478.00",NaN,NaN,2,...,"4,617",4,2.0,12,Brownstoner,NaN,NaN,"$63,202.00",5.53%,NaN
2,NaN,01/10/2010,Brooklyn Heights,38,Livingston St,NaN,"$505,000.00",NaN,NaN,1,...,1,1,1.0,2,NYTimes,NaN,Brooklyn Heights Real Estate,"$30,089.00",5.61%,NaN
3,NaN,01/11/2010,Brooklyn Heights,108,Pierrepont St,NaN,"$450,000.00",NaN,NaN,1,...,"2,500",1,1.0,12,Brownstoner,NaN,Corcoran,"$31,473.00",5.55%,NaN
4,NaN,01/11/2010,Carroll Gardens,389,Sackett St,NaN,"$1,530,000.00",NaN,NaN,3,...,"5,040",6,3.0,12,Brownstoner,NaN,NaN,"$69,400.00",5.55%,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40691 entries, 0 to 40690
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   187 non-null    object
 1   DATE         40684 non-null  object
 2   NEIGBORHOOD  1753 non-null   object
 3   No.          33735 non-null  object
 4   STREET       33735 non-null  object
 5   ZIP          33405 non-null  object
 6   SALE / ASK   40682 non-null  object
 7   WEB          17352 non-null  object
 8   RENT ROLL    7548 non-null   object
 9   UNITS        40656 non-null  object
 10  FLOORS       40675 non-null  object
 11  LEGAL        39920 non-null  object
 12  STRUCTURE    20986 non-null  object
 13  C            927 non-null    object
 14  LOT 1        28936 non-null  object
 15  LOT 2        34403 non-null  object
 16  SF           40670 non-null  object
 17  $/SF         39776 non-null  object
 18  SF/FLOOR     39619 non-null  object
 19  $/FLOOR      40119 non-null  object
 20  CHARGES      171 non-null    object
 21  TAX          957 non-null    object
 22  BEDS         819 non-null    object
 23  BATHS        828 non-null    float64
 24  WEEKS        10753 non-null  object
 25  TELEPHONE    37110 non-null  object
 26  CONTACT      198 non-null    object
 27  AGENCY       529 non-null    object
 28  ANNUAL $     40609 non-null  object
 29  30yr         40359 non-null  object
 30  ZONING       32547 non-null  object
dtypes: float64(1), object(30)
memory usage: 9.6+ MB